:root{
    --dark: #16191c;
    --dark-x: #1e2126;
    --light: #ffffff;
 }

body {
    font-weight: 300 !important;
    color: var(--light) !important;
 }

 .bg-dark {
     background-color: var(--dark) !important;
 }

 .bg-dark-x{
    background-color: var(--dark-x);
}

.form-control, .btn{
    min-height: 3.125rem;
    line-height: initial;
}

.text-light {
    font-weight: 600;
}

.img-fluid{
    height: 60px;
}

.img-1 {
    background-image: url('../img/logitech/EnJg-JxXUAU1YME.jpg');
    background-size: cover;
    background-position:center;
}
.img-2 {
    background-image: url('../img/hyperx/hx-family-mouse-pulsefire-raid-lg.jpg');
    background-size: cover;
    background-position:center;
}
.img-3 {
    background-image: url('../img/razer/Actualidad_383225445_130486350_1200x800.jpg');
    background-size: cover;
    background-position:center;
}

