*{
    padding: 0;
    margin: 0;
    box-sizing: 0;
}


navbar-brand{
    width: 60px;
}
.form-control {
    size: 4px;
}

ul li .bi-bi-cart3{
    overflow: hidden;
    vertical-align: middle;
    margin-right: 5px;
    margin-bottom: 5px;
}
.navbar .collapse ul li a svg {
    overflow: hidden;
    vertical-align: middle;
    margin-right: 5px;
    margin-bottom: 5px;
}
svg{
    overflow: hidden;
    vertical-align: middle;
    margin-right: 5px;
    margin-bottom: 5px;
}